.icon {
    color: #000000; // цвет лучше вынести в константы

    &_accent {
        color: #518581; // цвет лучше вынести в константы
    }

    &_secondary {
        color: #AFADB5; // цвет лучше вынести в константы
    }
}